*{
    padding: 0;
    margin: 0;
}

.fondo__fondo{
    background-color: #ffcd00;
}
/* ---->HEADER<-----  */
.header{
    background-color: #ffcd00;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* --->NAV BAR<--- */
.header__navbar ul{
    padding: 1.6rem;
    list-style-type: none;
}
.header__navbar li{
    display: inline-block;
}
.header__navbar a{
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: rgb(255, 255, 255); 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
    background-color: #1d94aa;
    padding: 1rem;
}
.header__titulo{
    color: #1d94aa;
    font-size: 2rem;
    padding: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}


/* CONTENIDO */
.seccion__contenido{
    background-color: #ebebeb;
    padding: 1.5rem;
    font-size: 1.1rem;
    line-height: 1.8rem;
    text-align: justify;
    width: 97.5%;
}
.seccion__contenido2{
    background-color: #ebebeb;
    padding: 1.5rem;
    font-size: 1.1rem;
    line-height: 1.8rem;
    text-align: justify;
    width: 97.5%;
}
.img__local{
    display: flex;
}
.img__local{
    width: 80%
}

/* ---> FOOTER <--- */
.footer{
    background-color: #1d94aa;
    color: rgb(0, 0, 0);
    padding: 1.1rem;
    text-align: center;
}
.footer__flex li{
    display: inline-block;
    justify-content: center;
}
.footer__menu{
    list-style: none;
    text-align: center;
}
.footer__menu a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.footer__credito{
    text-align: center;
    padding: 1rem;
    font-size: 0.7rem;
}